/* 

SKIN | Breakfast Theme

HELP | To make adding a new skin easier start with 6 colours
and use the comments beside each ID and CLASS to fill in your
custom colors in the right spaces.

#1 | SIDE BG 		| #fba83c	| Shade or Background Color (Sidebar) 				
#2 | SIDE CONTRAST 	| #ffffff	| Contrasting Color (Sidebar) 						
#3 | SIDE TINT 		| #d48b2e	| Shade or Background Tint (Sidebar) 				
#4 | SITE BG 		| #ece7e1 	| Off White (Site Background) 						
#5 | PAGE BG 		| #ffffff	| Bright white background (Content Page Background) 
#6 | TEXT 			| #131313	| Page headings & text (Content Page) 		 		

*/

body { 
		background:#ece7e1 url(images/warm-grain.jpg); /* SITE BG */
		color:#5b5b5b;
}

/******************** Sidebar ********************/

#sidebar {background:#fba83c url(images/e_paper.jpg) repeat;}

.dropcap1shade { 
		background-color:#fba83c;} 			/* SIDE BG */
		
.dropcap2shade{
		color:#fba83c; }					/* SIDE BG */ 
		
#sidebar .side-widget.below {
		/*border-bottom:1px solid #d48b2e;*/} 	/* SIDE TINT */
		
#sidebar .side-widget ul li a {
		border-color:#ffffff;} 					/* SIDE CONTRAST */
		
#sidebar .side-widget ul li a:hover {
		background-color:#ffffff; 
		color:#fba83c;} 					/* SIDE BG & SIDE CONTRAST */

#sidebar .side-widget.above {
		/*border-top:1px solid #d48b2e;*/}		/* SIDE TINT */

#sidebar .side-widget {							
		color:#fff !important;}	  					/* PAGE BG */


/******************** Navigation ********************/

#sidebar #the-side-menu {
		/*border-bottom:1px solid #d48b2e; */	/*SIDE TINT*/
}

#sidebar-menu li ul {
		background:#efa03b;	 				
		border:1px solid #d48b2e; } 		

#sidebar-menu li ul li {
		border-top:1px solid #d48b2e;} 		/* SIDE TINT */

#sidebar-menu li a {							
		color:#fff;}	  					/* PAGE BG */

#sidebar-menu li a:hover {	
		color:#ece7e1 !important;} 			/*SIDE TINT*/

#sidebar-menu li ul {
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.15);
    		box-shadow:0 0 4px rgba(0, 0, 0, 0.15);
}


/******************** Mobile Menu ********************/

body > div#top-bar {
		background: #d48b2e !important;} 				/*SIDE TINT*/


.mobile-menu, .mobile-menu:active,  .mobile-menu:hover {
		background: #d48b2e !important; } 				/*SIDE TINT*/


#sidebar .side-widget.mobile {
		border-color:#d48b2e;} 				/*SIDE TINT*/

/******************** Default Widgets ********************/

#wp-calendar tbody .pad:hover {
		background:none} 
#wp-calendar tbody td:hover {
		background:#fba83c;} 				/* SIDE BG */	
#wp-calendar tbody td {
		border: 1px solid #fba83c;}			/* SIDE BG */	
#wp-calendar tbody .pad {
		background:#fba83c;} 				/* SIDE BG */	

#sidebar #wp-calendar tbody td a:link, 
#sidebar #wp-calendar tbody td a {
		color:#ffffff ; font-weight:bold; 
		text-decoration:underline}			/* SIDE CONTRAST */
#wp-calendar thead th, 
#wp-calendar caption {
		color: #ffffff;} 					/* SIDE CONTRAST */
#wp-calendar tbody { 
		color: #ffffff; } 					/* SIDE CONTRAST */
#wp-calendar tbody td {
		background:#d48b2e;} 				/*SIDE TINT*/


/******************** Tag Cloud ********************/

#sidebar .tagcloud a:hover {
		background-color:#ffffff; 
		color:#d48b2e} 						/* SIDE CONTRAST & SIDE BG */
#sidebar .tagcloud a{
		background-color:#d48b2e;} 			/* SIDE TINT */

/******************** Content ********************/

#inner-content {
		background-color:#fff;} 			/* PAGE BG */

/******************** Food Menu ********************/

.menu_item_wrapper, h3.menu-title, 
h4.menu-title { 
		border-color:#ece7e1;} 				/* SITE BG */

/******************** Footer ********************/

#footer { background-color:#fff;} 			/* PAGE BG */

/******************** Typography ********************/

h1, h2, h3, h4, h5, h6, h1 a, h2 a, 
h3 a, h4 a, h5 a, h6 a, p a, a {
		color:#131313;} 					/* TEXT */

p a, #older-posts a, #newer-posts a {
		color:#d48b2e;} 					/* SIDE BG */

h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover,
p a:hover, #older-posts a:hover, 
#newer-posts a:hover {
		text-decoration:none; 
		background-color:#d48b2e; 
		color:#fff;} 						/* SIDE BG & PAGE BG */

h1, h2, h3, h4 {
}

#sidebar {
		font-family:Helvetica, Arial, sans-serif;
		color:#ffffff;} 					/* SITE BG */

#sidebar .side-widget a {
		color:#ffffff; font-weight:normal;} /* SITE BG */


#sidebar h1, #sidebar h2, #sidebar h3,
#sidebar h4, #sidebar h5, #sidebar h6, 
#sidebar h1 a, #sidebar h2 a, #sidebar h3 a,
#sidebar h4 a, #sidebar h5 a, #sidebar h6 a,
#sidebar p a, #sidebar a{
		color:#ffffff;}  						/* SITE BG */
		
#sidebar h1 a:hover, #sidebar h2 a:hover,
#sidebar h3 a:hover, #sidebar h4 a:hover, 
#sidebar h5 a:hover, #sidebar h6 a:hover, 
#sidebar p a:hover, #sidebar #older-posts a:hover, 
#sidebar #newer-posts a:hover{
		text-decoration:none; 
		color:#ffffff;
		background-color:#fba83c;}				/* SITE BG & SIDE TINT */
				
#sidebar h1, #sidebar h2 {
		color:#ffffff;} 						/* SITE BG */ 

#sidebar p {
		color:#ffffff;} 					/* SITE BG */

.postmeta {
		font-family:Arial, Helvetica, sans-serif;}

/*blockquote {
		border-top:3px #d48b2e solid;} */		/* SIDE BG */

/******************** Forms ********************/

/* Reservation Form */

#form-wrapper input.sendbtn {
	background-color: #fba83c;				/* SIDE BG */
	color:#ffffff;							/* SIDE CONTRAST */
}
#form-wrapper input.sendbtn:hover {
	background-color:#d48b2e;				/* SIDE TINT */
}

/******************** Blog ********************/

#comments-title, #reply-title, .nocomments {border-color:#ece7e1;} 				    /* SITE BG */

#comments .comment-author .fn, #comments .comment-author .fn a {color:#d48b2e;}		/*SIDE TINT*/
#comments .comment-author a:hover {background-color:#d48b2e; color:#ffffff;}		/*SIDE TINT & PAGE BG*/

#respond input#submit {
	background-color: #fba83c;				/* SIDE BG */
	color:#ffffff;							/* SIDE CONTRAST */
}
#respond input#submit:hover {
	background-color:#d48b2e;				/* SIDE TINT */
}

/******************** Social Media ********************/

.soc a{
	opacity:0.20;
	filter:alpha(opacity=20); /* For IE8 and earlier */
}

.soc a:hover{
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

/******************** Shortcodes ********************/
h3.trigger a:hover {
		color:#d48b2e; 						/* SIDE BG */
}

.reso.button {background-color: #d48b2e;}	/* SIDE TINT */
.reso.button:hover {
	-moz-opacity: 0.92;
    -khtml-opacity: 0.92;
    opacity: 0.92;
}

/******************** Search ********************/
input[type=search], input[type=search]:focus {
		background: #d48b2e url(images/search-icon.png) no-repeat 9px center; 
		color:#fff; 					/* PAGE BG */
		box-shadow: 0 1px 1px rgba(255,255,255,.1),
					inset 0 1px 1px rgba(0,0,0,.3);
		-moz-box-shadow: 0 1px 1px rgba(255,255,255,.1),
					inset 0 1px 1px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 1px 1px rgba(255,255,255,.1),
					inset 0 1px 1px rgba(0,0,0,.3);
}		