/* 

SKIN | Blank Theme

HELP | To make adding a new skin more easy start with 6 colous
and use the comments beside each ID and CLASS to fill in your
custom colors in the right spaces.

#1 | SIDE BG 		| #FFFFFF	| Shade or Background Color (Sidebar) 				
#2 | SIDE CONTRAST 	| #393028	| Contrasting Color (Sidebar) 						
#3 | SIDE TINT 		| #2e2720	| Shade or Background Tint (Sidebar) 				
#4 | SITE BG 		| #e5e5e5 	| Off White (Site Background) 						
#5 | PAGE BG 		| #ffffff	| Bright white background (Content Page Background) 
#6 | TEXT 			| #393028	| Page headings & text (Content Page) 		 		

*/

body { 
		background:#e5e5e5 url(images/white-tile.png);
		color:#5b5b5b;
}

/******************** Sidebar ********************/

#sidebar {background:#FFFFFF repeat !important;
-webkit-box-shadow:  0px 0px 6px 0px #c1c1c0;
	-moz-box-shadow: 0px 0px 6px 0px #c1c1c0;
        box-shadow:  0px 0px 6px 0px #c1c1c0;					
}

.dropcap1shade { 
		background-color:#393028;} 			/* SIDE BG */
		
.dropcap2shade{
		color:#393028; }					/* SIDE BG */ 
		
#sidebar .side-widget.below {
		/*border-bottom:1px solid #2e2720;*/} 	/* SIDE TINT */
		
#sidebar .side-widget ul li a {
		border-color:#2e2720;} 					/* SIDE TINT */
		
#sidebar .side-widget ul li a:hover {
		background-color:#393028; 
		color:#FFFFFF;} 					/* SIDE BG & SIDE CONTRAST */

#sidebar .side-widget.above {
		/*border-top:1px solid #2e2720;*/}		/* SIDE TINT */


/******************** Navigation ********************/

#sidebar #the-side-menu {
		/*border-bottom:1px solid #2e2720; */	/*SIDE TINT*/
}

#sidebar-menu li ul {
		background:#f6f6f6; 				/*SIDE TINT*/
		border:1px solid #e0e0e0; } 		/*SIDE TINT*/

#sidebar-menu li ul li {
		border-top:1px solid #e0e0e0;} 		/*SIDE TINT*/

#sidebar-menu li a {							
		color:#393028}	  					/* SIDE CONTRAST */

#sidebar-menu li a:hover {	
		opacity:0.7;}

#sidebar-menu li ul {
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.15);
    		box-shadow:0 0 4px rgba(0, 0, 0, 0.15);
}


/******************** Mobile Menu ********************/

body > div#top-bar {
		background: #2e2720 !important;} 				/*SIDE TINT*/


.mobile-menu, .mobile-menu:active,  .mobile-menu:hover {
		background: #2e2720 !important; } 				/*SIDE TINT*/


#sidebar .side-widget.mobile {
		border-color:#e5e5e5;} 				/*SITE BG*/

/******************** Default Widgets ********************/




/******************** Tag Cloud ********************/

#sidebar .tagcloud a:hover {
		background-color:#393028; 
		color:#2e2720} 						/* SIDE CONTRAST & SIDE BG */
#sidebar .tagcloud a{
		background-color:#2e2720;} 			/* SIDE TINT */

/******************** Content ********************/

#inner-content {
		background-color:#fff;} 			/* PAGE BG */

/******************** Food Menu ********************/

.menu_item_wrapper, h3.menu-title, 
h4.menu-title { 
		border-color:#e5e5e5;} 				/* SITE BG */

/******************** Footer ********************/

#footer { background-color:#fff;} 			/* PAGE BG */

/******************** Typography ********************/

h1, h2, h3, h4, h5, h6, h1 a, h2 a, 
h3 a, h4 a, h5 a, h6 a, p a, a {
		color:#454a4e;} 					/* TEXT */

p a, #older-posts a, #newer-posts a {
		color:#2e2720;} 					/* SIDE BG */

h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover,
p a:hover, #older-posts a:hover, 
#newer-posts a:hover {
		text-decoration:none; 
		background-color:#2e2720; 
		color:#fff;} 						/* SIDE BG & PAGE BG */

h1, h2, h3, h4 {
}

#sidebar {
		font-family:Helvetica, Arial, sans-serif;
		color:#393028;} 					/* SIDE CONTRAST */

#sideBanner{
	/*background:url(images/sideBanner.png) no-repeat;
	width:308px;
	height:82px;
	margin-left:-26px;
	padding:20px;*/
	margin-left:-25px;
	margin-right:-19px;
	position:relative;
}
#sideBanner .widget{
	position:absolute;
	left:0;
	top:0;
	margin:20px;
	line-height:136&;
}

/*.sideBanner {
background-image:url(images/sideBanner.png);
background-position:50% 50%; 
background-repeat:no-repeat; 
display:block; 
height:82px; 
text-indent:-9999px;
-moz-background-size:cover; 
-webkit-background-size:cover; 
background-size:cover;
margin:0 -26px;
}
 
#onextrapixel{
background-image:url(images/sideBanner.png);
}*/


#sidebar .side-widget a {
		color:#393028; font-weight:normal;} /* SIDE CONTRAST */


#sidebar h1, #sidebar h2, #sidebar h3,
#sidebar h4, #sidebar h5, #sidebar h6, 
#sidebar h1 a, #sidebar h2 a, #sidebar h3 a,
#sidebar h4 a, #sidebar h5 a, #sidebar h6 a,
#sidebar p a, #sidebar a{
		color:#393028;}  						/* PAGE BG */
		
#sidebar h1 a:hover, #sidebar h2 a:hover,
#sidebar h3 a:hover, #sidebar h4 a:hover, 
#sidebar h5 a:hover, #sidebar h6 a:hover, 
#sidebar p a:hover, #sidebar #older-posts a:hover, 
#sidebar #newer-posts a:hover{
		text-decoration:none; 
		color:#2e2720;
		background-color:#393028;}
											/* SIDE BG & SIDE CONTRAST */
				
#sidebar h1, #sidebar h2 {
		color:#393028;} 						/* PAGE BG */ 

#sidebar p {
		color:#393028;} 					/* SIDE CONTRAST */

.postmeta {
		font-family:Arial, Helvetica, sans-serif;}

/*blockquote {
		border-top:3px #2e2720 solid;}*/ 		/* SIDE BG */

/******************** Forms ********************/

/* Reservation Form */

#form-wrapper input.sendbtn {
	background-color: #393028;				/* SIDE BG */
	color:#ffffff;							/* PAGE BG */
}
#form-wrapper input.sendbtn:hover {
	background-color:#2e2720;				/* SIDE TINT */
}

/******************** Blog ********************/

#comments-title, #reply-title, .nocomments {border-color:#ece7e1;} 					/* SITE BG */

#comments .comment-author .fn, #comments .comment-author .fn a {color:#1d1d1d;}		/*SIDE TINT*/
#comments .comment-author a:hover {background-color:#1d1d1d; color:#ffffff;}		/*SIDE TINT & PAGE BG*/

#respond input#submit {
	background-color: #393028;				/* SIDE BG */
	color:#ffffff;							/* SIDE CONTRAST */
}
#respond input#submit:hover {
	background-color:#2e2720;				/* SIDE TINT */
}

/******************** Social Media ********************/

.soc a{
	opacity:0.30;
	filter:alpha(opacity=17); /* For IE8 and earlier */
}

.soc a:hover{
	opacity:0.60;
	filter:alpha(opacity=30); /* For IE8 and earlier */
}

/******************** Shortcodes ********************/
h3.trigger a:hover {
		color:#2e2720; 						/* SIDE BG */
}

.reso.button {background-color: #2b9baa;}	/* SIDE BG */
.reso.button:hover {
	-moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

/******************** Search ********************/
input[type=search], input[type=search]:focus {
		background: #e9e8e8 url(images/search-icon.png) no-repeat 9px center; 		
		color:#393028; 					/* SIDE CONTRAST */
		box-shadow: 0 1px 1px rgba(255,255,255,.1),
					inset 0 1px 1px rgba(0,0,0,.3);
		-moz-box-shadow: 0 1px 1px rgba(255,255,255,.1),
					inset 0 1px 1px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 1px 1px rgba(255,255,255,.1),
					inset 0 1px 1px rgba(0,0,0,.3);
}		